$bg_header: linear-gradient(297.83deg, #20252B 3.67%, #25323E 88.91%);
$color-blue: #57ADFF;
$color_text_grey: rgba(255, 255, 255, 0.6);
$clolr_text_darken: rgba(0, 0, 0, 0.5);
$color_text: #FFFFFF;
$color-black-text: #000000;
$color_contacts_title: #1B3651;
$color_contacts_subtitle: rgba(19, 30, 41, 0.5);
$color-btn: #83C2FF;
$color-btn-hover: rgba(87, 173, 255, 0.5);
$bg_about_us: linear-gradient(144.97deg, #101921 5.43%, #1A242F 102.7%);
$bg_frame: #0E1318;
$bg_block: #12181F;
$bg_why-i: #0D1117;
$bg_wrapper_why-i: linear-gradient(103.42deg, #17212B 9.95%, #0F141A 99.25%);
$bg_slider: linear-gradient(209.77deg, #10161D 4.74%, #080C11 100.34%);
$bg_motivation: #060606;
$bg_kinds: linear-gradient(162.95deg, #121E29 1.83%, #10161D 100.33%);
$bg_kinds_block: linear-gradient(180deg, #24384B -7.71%, #17222D -7.7%, #1F2E3F 107.71%);
$bg_works: linear-gradient(162.95deg, #121E29 1.83%, #1D2329 100.33%);
$bg_reaction: #E5E5E5;
$bg_answer: linear-gradient(180deg, #1C2329 0%, #111D29 100%);
$bg_contacts: linear-gradient(123.14deg, #FFFFFF 3.2%, #EEEEEE 97.48%);
$bg_forms: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);