@import '_fonts';
@import '_null';
@import '_colors';
@import '_btns';
@import '_header';
@import '_about-us';
@import '_why-i';
@import '_work-with';
@import '_motivation';
@import '_kinds';
@import '_works';
@import '_feedback';
@import '_reaction';
@import '_answer';
@import '_contacts';
@import '_footer';
@import '_smart-grid';

img {
	max-width: 100%;
}

.container { 
	@include wrapper();
}

html{
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-display: fallback;
}

body {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}



















